.container {
    margin: 20px;
    max-width: 400px;
}

.img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

div.textCard {
    max-width: 400px; 
    padding: 0 16px 16px 16px;
}

.textTitle {
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}